<%- include('partials/headerNoLogin') -%>
<div class="absolute h-full w-full bg-slate-400">
  <div class="absolute inset-0 bg-slate-100 bg-[size:20px_20px] opacity-20 blur-[100px]"></div>
</div>
<div class="relative p-4 sm:ml-64">
  <div class="flex flex-col h-screen items-center justify-center gap-8 p-4 mt-14">
    <h1 class="font-thin text-8xl text-slate-200">Login or Signup</h1>
    <img src="/imgs/logo.png" class="hover:animate-rotationalwave h-96 w-96">
  </div>
</div>

<%- include('partials/footer') -%>