<%- include('partials/headerNoLogin') -%>
<div class="absolute h-full w-full bg-slate-400">
  <div class="absolute inset-0 bg-slate-100 bg-[size:20px_20px] opacity-20 blur-[100px]"></div>
</div>
<%- include('partials/footer') -%>